/* Base Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

p{
    color: 555;
}

body{
    font-family: 'montserrat', sans-serif;
}

/* Header section styling */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

a{
    text-decoration: none;
    color: #007ccb;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column-2{
    flex-basis: 50%;
    min-width: 300px;
}

.column-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.column-2 h1{
    font-size: 30px;
    margin: 25px 0;
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    background: #bf1bf1;
    color: whitesmoke;
    margin: 20px 0;
    padding: 8px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    transition: background 0.5s;
}

.btn:hover{
    background: #007ccb;
}

.header{
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row{
    margin-top: 30px;
}

.categories{
    margin: 30px 0;
}

.column-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.column-3 img{
    width: 100%;
}

.container-2{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.column-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.column-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    list-style: 60px;
    color: #007ccb;
    text-transform: uppercase;
}

.title::after{
    content: '';
    background: #bf1bf1;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #bf1bf1;
    font-weight: 800;
}

.ratings .fa{
    color: #007ccb;
}

.column-4:hover{
    transform: translateY(-5px);
}


/* offer section*/
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.column-2 .offer-img{
    padding: 50px;
}

small{
    color: #007ccb;
}

/* testimonials */
.testimonials{
    padding-top: 80px;
}

.testimonials .column-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
}

.testimonials .column-3:hover{
    transform: translateY(-5px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #007ccb;
}

.column-3 p{
    font-size: 12px;
    margin: 12px 0;
}

.testimonials .column-3 h3{
    font-weight: 600;
    font-size: 16px;
}

/* brands styling*/

.brands{
    margin: 100px auto;
}

.brands .column-5 img{
    width: 50%;
}

.column-5{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.column-5 img{
    width: 100%;
    cursor: pointer;
}

/* footer styling*/

.footer{
    background: #161616;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer p, li{
    color: #fff;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.store{
    margin-top: 20px;
}

.store img{
    width: 140px;
}

.footer-col-2 img{
    max-width: 180px;
    padding: 20px;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

/* @mediaQ Styling menu*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #007ccb;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
    }
    
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: whitesmoke;
    }

    .menu-icon{
        display: inline-block;
        cursor: pointer;
    }

}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }

    .column-2 .column-3 .column-4{
        width: 100%;
    }
}